.projects-content {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

@media screen and (min-width: 768px) {
    .projects-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.8rem;
    }

}