.projects-content {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin: 2rem 0 4rem 0;
}

@media screen and (min-width: 768px) {
    .projects-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.8rem;
        margin: 0;
    }

}

.projects-more {
    position: relative;
    z-index: 0;
    text-align: center;
    margin-top: 5rem;
}