.modal {
  position: fixed;
  z-index: 999;
  top: 0%;
  left: 0%;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  overflow: hidden;
}

.modal.is-open {
  display: flex;
}

.modal-container {
  position: relative;
  padding: 1rem;
  background-color: var(--gris-font);
  color: var(--gris-bg);
  min-width: 270px;
  max-width: 480px;
  min-height: 200px;
  max-height: 600px;
  overflow-y: auto;
  text-align: center;
}

.modal-container img {
  width: 100%;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media screen and (max-width: 768px) {
  .modal-container {
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .modal-container {
    max-width: 300px;
    max-height: 600px;
  }
}

.modal-title {
  margin-bottom: 0.5rem;
}

.modal-icon img {
  position: relative;
  top: 1px;
  width: 15px;
  height: 15px;
  align-content: center;
}

.modal-description {
  margin: 1rem 0;
}
