.or {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    width: 100%;
    margin: 1rem 0;
}

.or hr {
    width:30%;
    border: 1px solid #0be779;
}

@media screen and (min-width: 768px) {
    .or hr {
        width:20%;
    }
}
