:root {
  --verde-fluor: #0be779;
  --verde-oscuro: #39b175;
  --gris-bg: #2c323f;
  --gris-font: rgb(216, 216, 216);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.App {
  background-color: var(--gris-bg);
  color: var(--gris-font);
}

html {
  background-color: transparent;
}

.App.light {
  background-color: rgb(225 237 235);
  color: var(--gris-bg);
}

.App.light .form input:not(input[type="submit"]),
.App.light .form textarea {
  background-color: rgb(184, 202, 199);
  color: #000;
}

.App::after {
  content: "";
  margin: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
}

img {
  object-fit: cover;
}
